body {
    font-family: roboto;
    background-color: #0b192f;
    margin: 0;
    padding: 0 10px;
  }
  
  .header {
    color: #fff;
  }
  
  .header_nav, .header_wrapper,  .header_logo, .menu_list,  .menu_list_item {
    height: 100%;
  }

  .header_wrapper, .header_logo,    .footer_wrap,  .menu_list_link, .main, .main .articles .post, .aside .news, .footer_wrapper, .header_wrapper,  .main .articles .post_content, .main .articles .post_content {
    display: flex;
   }
  
  .header_wrapper {
    width: 1385px;
    margin: 0 auto;
    background: #162b4d;
    align-items: center;
    justify-content: space-between;
  }
  
  .header_logo {
    align-items: center;
    justify-content: center;
    font-size: 44px;
    font-weight: 100;
    margin-left: 30px;
  }
  
  .header_logo span {
    color: #c52951;
  }
  
  .menu_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu_list_item {
    display: inline-flex;
  }
  
  .menu_list_link {
    padding: 0 26px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 18px;
  }
  
  .menu_list_link:hover {
    background: #283d5f;
  }
  
  .main {
    width: 1385px;
    margin: 30px auto;
    justify-content: space-between;
  }
  
  .main .articles {
    width: 70%;
  }
  
  .main .articles .post-1 {
    background: #B71757;
  }
  
  .main .articles .post-2 {
    background: #0D7E71;
  }
  
  .main .articles .post-3 {
    background: #b1660e;
  }
  
  .main .articles .post-4 {
    background: #d12767;
  }
  
  .main .articles .post-5 {
    background: #2d95bb;
  }
 
  .main .articles .post_img {
    width: 50%;
  }
  
  .main .articles .post_img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .main .articles .post_content {
    color: #fff;
    font-weight: 100;
    width: 100%;
    padding-left: 30px;
    position: relative;
  }
  
  .main .articles .post_content:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .main .articles .post_content_title {
    font-weight: 100;
    font-size: 50px;
    margin: 25px 0;
    width: 300px;
  }
  
  .main .articles .post_content_text {
    line-height: 1.5;
    width: 300px;
  }
  
  .main .articles .post_content_date {
    position: absolute;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: #d3d3d3;
    top: 0;
    right: 0;
    margin: 20px 15px;
  }
  
  .main .articles .post_content_date_month {
    font-size: 28px;
  }
  
  .main .articles .post:nth-child(2n) {
    flex-direction: row-reverse;
  }
  
  .main .articles .post:nth-child(2n) .post_content_title,
  .main .articles .post:nth-child(2n) .post_content_text {
    text-align: right;
    margin: 25px 0 25px 120px;
  }
  
  .main .articles .post:nth-child(2n) .post_content_date {
    left: 0;
    right: auto;
  }
  
  .main .articles .post:last-child .post_content_title,
  .main .articles .post:last-child .post_content_text {
    width: auto;
    padding-right: 100px;
  }
  
  .main .articles .post:last-child .post_content_date {
    margin: 5px 10px;
  }
  
  .aside {
    width: 27%;
  }
  
  .aside_wrap {
    background-color: #fff;
    padding: 0 0 15px 0;
  }
  
  .aside .news {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
  }
  
  .aside .news_img {
    width: 100%;
  }
  
  .aside .news_title {
    font-weight: normal;
    width: 250px;
    font-size: 30px;
  }
  
  .aside .news_text {
    width: 250px;
    line-height: 2;
    font-size: 18px;
  }
  
  .footer {
    width: 1385px;
    color: #d3d3d3;
    margin: 0 auto;
    background-color: #162b4d;
    font-weight: 100;
    line-height: 1;
  }
  
  .footer_wrapper {
    justify-content: space-between;
    align-items: center;
  }
  
  .footer_copyright {
    margin: 20px;
  }
  
  .footer_design {
    margin-right: 20px;
    line-height: 1.5;
  }
  
  @media (max-width: 1399px) {
    .menu_list {
      display: none;
    }
  
    .header_nav_btn {
      display: block;
      position: relative;
      width: 26px;
      height: 25px;
      padding-top: 20px;
    }
  
    .header_nav_btn span,
    .header_nav_btn span::after,
    .header_nav_btn span::before {
      width: 100%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  
    .header_nav_btn span::after {
      content: '';
      transform: translate(0, -5px);
    }
  
    .header_nav_btn span::before {
      content: '';
      transform: translate(0, 5px);
    }
  
    .header,
    .main,
    .footer {
      width: 100%;
    }
  
    .header_wrapper {
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      height: 200px;
    }
  
    .header_logo {
      margin: 0 auto;
      height: auto;
    }
  
    .header_nav {
      height: auto;
    }
  
    .main .articles {
      width: 60%;
    }
  
    .main .articles .post {
      flex-direction: column;
    }
  
    .main .articles .post_img {
      width: 100%;
    }
  
    .main .articles .post_content {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  
    .main .articles .post_content_title {
      width: 80%;
      font-size: 3.5rem;
    }
  
    .main .articles .post_content_text {
      width: 80%;
      font-size: 1.5rem;
    }
  
    .main .articles .post_content_date {
      position: relative;
    }
  
    .main .articles .post:nth-child(2n) {
      flex-direction: column;
    }
  
    .main .articles .post:nth-child(2n) .post_content_title,
    .main .articles .post:nth-child(2n) .post_content_text {
      text-align: left;
      margin: 25px 0;
    }
  
    .main .articles .post:nth-child(2n) .post_content_date {
      left: 0;
      right: auto;
    }
  
    .main .articles .post:last-child .post_content_title,
    .main .articles .post:last-child .post_content_text {
      width: 80%;
      padding: 0;
    }
  
    .main .articles .post:last-child .post_content_date {
      margin: 5px 10px;
    }
  
    .aside {
      width: 37%;
    }
  
    .footer_wrapper {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  
    .footer_copyright,
    .footer_design {
      margin: 0 0 10px 0;
    }
  }
  
  @media (max-width: 767px) {
  
    .header,
    .main,
    .footer {
      width: 100%;
    }
  
    .main {
      flex-direction: column;
    }
  
    .main .articles {
      width: auto;
    }
  
    .main .aside {
      width: auto;
    }
  
     .main .aside .news_title {
      font-size: 40px;
      width: auto;
      padding: 0 25px;
    }

   .main .aside .news {
      align-items: flex-start;
    }
    .main .aside .news_text {
      width: auto;
      padding: 0 25px 25px;
      font-size: 20px;
      line-height: 1.5;
    }
  }